*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 22px;
}

body{
    background: #eee;
    color: #333;
    font: 200 1em sans-serif;
    line-height: 1.6em;
}

section{
    background: white;
    border: solid 1px #ccc;
    border-radius: .5em;
    height: 650px;
    padding: 2em;
    position: relative;
    width: 1000px;
}


/** Navigation **/
.nav{
    background: #333;
    border-right: solid 5px #369;
    font-size: 16px;
    height: 100%;
    position: fixed;
    right: 100%;
    top: 0;
    width: 20%;
    z-index: 9;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.nav--show{
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.nav__trigger{
    background: #369;
    border: 0;
    color: #eee;
    display: block;
    left: 100%;
    outline: none;
    padding: .5em 1.5em;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.nav__menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__menu a{
    border-bottom: solid 1px #000;
    color: #eee;
    display: block;
    padding: 1em;
    text-decoration: none;
}

.nav__menu a:hover{
    background: #369;
}


/** Pager **/
.pager{
    bottom: .5em;
    color: #aaa;
    font-size: .7em;
    margin: 0;
    position: absolute;
    right: 1em;
}


/** Typography **/
h1,
.h1{
    font-size: 3.375em;
    line-height: 1em;
    margin: 0 0 0.47407407407407em 0;
}

h2,
.h2{
    font-size: 2.25em;
    line-height: 1em;
    margin: 0 0 0.71111111111111em 0;
}

h3,
.h3{
    font-size: 1.5em;
    line-height: 1.06666666666667em;
    margin: 0 0 1.06666666666667em 0;
}

h4,
.h4{
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
}

h5,
h6{
    font-size: 0.667em;
    line-height: 2.39880059970015em;
    margin: 0 0 2.39880059970015em 0;
}

p{
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
}

ul,
ol{
    margin: 0 0 1.6em 0;
}

ul ul,
ul ol,
ol ul,
ol ol{
    margin: 0;
}

a{
    color: #428bca;
}

.code{
    background: #424761;
    border-radius: .2em;
    color: #eee;
    display: inline-block;
    font-size: .9em;
    padding: 0 .5em;
}


/** GRID **/

[class^="col-"]{
    float: left;
}

[class^="col-"] + [class^="col-"]{
    margin-left: 2%;
}

.col-10{
    width: 8.2%;
}

.col-20{
    width: 18.4%;
}

.col-30{
    width: 28.6%;
}

.col-40{
    width: 38.8%;
}

.col-50{
    width: 49%;
}

.col-60{
    width: 59.2%;
}

.col-70{
    width: 69.4%;
}

.col-80{
    width: 79.6%;
}


/** helpers **/
.cf:after{
    clear: both;
    content: '';
    display: table;
}

.mini-size{
    font-size: 18px;
    line-height: 1.4em;
}

.mega-size{
    font-size: 30px;
    line-height: 1.4em;
}
























